#rep {}
body {
    margin:10px;
}
.transImg {
    -webkit-transition: 0.3s cubic-bezier(1, 1, 1, 1);
    transition: 0.3s cubic-bezier(1, 1, 1, 1);
    border: hidden;
    border-radius: 100px;
    width: 200px;
}
.transImg:hover {
    opacity:0.5;
    border-radius: 50px;
}
.menuBar {
    width:10vw;
    heigth:auto;
    padding:7.5vw;
}
.menuBar > .mb {
    font-size:xx-large;
    
    -webkit-transition: 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.menuBar > .mb:hover {
    padding:inherit;
}
