#rep {
    background-color: white;
    box-shadow: 0 0 6px black;
    
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 600px;
    
    border-color:  black;
    border-radius: 30px;
    border-style: solid;
    border-width:  1px;
}

#javascript.circle {
    background-color: #FFEB3B;
    width: 10px;
    display: -webkit-inline-box;
    height: 10px;
    border-radius: 50%;
}

.tag {
    background-color: rgba(72, 218, 203, 0.1);
    margin: 5px;
    border-radius: 5%;
    padding: 5px 13px;
    color:#5faedc;
    margin-left: 7px;
}

.typecode {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.tag:hover {
    background-color: rgb(220, 245, 242);
}

body {
    margin: 10px;
}
.top{
    background-color:#d8f1e7;
    padding:30px;
    margin:10px;
}

/*Code général*/

.top > span#nya {
    color:#ff4ce1;
}

.transImg {
    -webkit-transition: 0.3s cubic-bezier(1, 1, 1, 1);
    transition: 0.3s cubic-bezier(1, 1, 1, 1);
    border: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px #ff4ce1;
}

.transImg:hover {
    opacity: 0.85;
    border-radius: 25%;
}

.menuBar {
    width: 95%;
    margin-top:1px;
    padding: 5vw;
}

.menuBar > .mb {
    align-content: center;
    font-size: x-large;
    padding: inherit;
    -webkit-transition: 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/*Adaptation 550px (téléphones)*/
@media screen and (max-width: 549px) {

    .top > span#nya {
        margin-left:6%;
        font-size: 9vw;
    }

    .transImg {
        width: 25%;
    }

    .menuBar {
        display: flex;
        flex-direction: column;

        text-align: -webkit-right;

        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        font-size: 0;
        padding-top: 5px;
    }

    .menuBar > .mb {
        padding-left:initial;
    }

    .menuBar > .mb:hover {
        font-size: x-large;
        padding-right: 20%;
    }
}

/*Adaptation 550 - 1000 px (tablettes et ordi)*/
@media screen and (min-width: 550px) and (max-width: 1300px) {

    .top > span#nya {
        margin-left:6%;
        font-size: 6vw;
    }

    .transImg {
        width: 20%;
    }

    .menuBar {
        font-size: x-large;
        margin-top:10px;
    }

    .menuBar > .mb {
        font-size: x-large;
        padding: inherit;
    }

    .menuBar > .mb:hover {
        font-size: xx-large;
        text-decoration: underline;
    }
    
}

/*Adaptation 1300px */
@media screen and (min-width: 1301px) {

    .top > span#nya {
        margin-left:5%;
        /*padding-bottom:20px;*/
        font-size: 7vw;
    }

    .transImg {
        width: 20%;
    }

    .menuBar {
        font-size: -webkit-xxx-large;
        margin-top:10px;
    }

    .menuBar > .mb {
        font-size: -webkit-xxx-large;
        padding: inherit;
    }

    .menuBar > .mb:hover {
        font-size: larger;
        text-decoration: underline;
    }

}
