#rep {
}

body {
    margin: 10px;
}
.top{
    background-color:#d8f1e7;
    padding:30px;
    margin:10px;
}

/*Code général*/
.transImg {
    -webkit-transition: 0.3s cubic-bezier(1, 1, 1, 1);
    transition: 0.3s cubic-bezier(1, 1, 1, 1);
    border: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px #de00ff;
}

.transImg:hover {
    opacity: 0.9;
    border-radius: 25%;
}

.menuBar {
    width: 95%;
    margin-top:1px;
    padding: 5vw;
}

.menuBar > .mb {
    align-content: center;
    font-size: x-large;
    padding: inherit;
    -webkit-transition: 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/*Adaptation 550px (téléphones)*/
@media screen and (max-width: 549px) {

    .transImg {
        width: 25%;
    }

    .menuBar {
        display: flex;
        flex-direction: column;
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        
        font-size: 0;
        padding-top: 5px;
    }

    .menuBar > .mb {
        padding-left:initial;
    }

    .menuBar > .mb:hover {
        font-size: x-large;
        padding-left: 9%;
    }
}

/*Adaptation 550 - 1000 px (tablettes et ordi)*/
@media screen and (min-width: 550px) and (max-width: 1300px) {

    .transImg {
        width: 20%;
    }

    .menuBar {
        font-size: x-large;
        margin-top:1px;
    }

    .menuBar > .mb {
        font-size: x-large;
        padding: inherit;
    }

    .menuBar > .mb:hover {
        font-size: xx-large;
        text-decoration: underline;
    }
    
}

/*Adaptation 1300px */
@media screen and (min-width: 1300px) {

}
